:root {
    --font-teko: 'Teko', sans-serif;
    --font-robo: 'Roboto', sans-serif;
    --bg-default: black;
    --txt-default: purple;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: var(--bg-default);
    color: var(purple);
  }
  
  header h1 {
    font-family: var(--font-teko);
    text-align: center;
  }
  
  #city-container {
    color: black;
    background-color: purple;
    font-family: var(--font-robo);
  }
  
  input {
    text-align: center;
  }